@* @model Message
    @{
    ViewData["Title"] = "Home Page";
    ViewData["CurrPage"] = "chords";
    }

    <div class="convos">
    <div class="pt-2 convos-label">
    <h4>Conversations</h4>
    </div>
    </div>
    <div class="chat">
    <form action="Send" method="post">
    <input asp-for="Content">
    </form>
    </div> *@
