@* @model User
    <div class="text-left">
    <h1>@Model.Username</h1>
    <div class="top">
    <h2>Profile pic</h2>
    <div class="about">
    <h2>About me section</h2>
    </div>
    </div>

    <div class="personal d-flex flex-column">
    <em>First Name: @Model.FirstName</em>
    <em>Last Name: @Model.LastName</em>
    </div>
    </div> *@